<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MXW3Z4S');</script>
<!-- End Google Tag Manager -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="assets/css/gaia.css" rel="stylesheet"/>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Pueblo Santo - Centro de Sanación de Yagé Ayahuasca</title>
    <meta name="description" content="Centro de sanación de medicina Yagé, Ayahuasca, ubicado a 30 minutos entre Barranquilla y Cartagena Colombia." />
    <meta property="og:title" content="Pueblo Santo - Centro de Sanación Yagé" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pueblosanto.co/" />
    <meta property="og:image" content="http://pueblosanto.co/assets/img/pueblosanto-header-hd.jpg" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXW3Z4S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Navbar Menu -->
<nav class="navbar navbar-light navbar-expand-lg fixed-top">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logos/logo-pueblosanto-small-black.png">
            </a>
             <ul class="navbar-nav ml-auto navbar-uppercase">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="retiros-ayahuasca.html">Ceremonias </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="ceremonias-yage/barranquilla/septiembre-2018.html">Próxima Ceremonia </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="contacto.html">Contacto </a>
                </li>
            </ul>
        </div>
</nav>
<!-- End Navbar -->


    <div class="wrapper">
        <div class="section section-contact-form">
            <div class="container">
                    <div class="title-area">
                        <h5 class="subtitle text-gray">Redes y contacto de Pueblo Santo</h5>
                        <h2>Contáctanos</h2>
                        <div class="separator separator-danger"><i class="emoticon-large">📞</i></div>
                        <p class="description">Si quieres saber más sobre nuestras actividades y retiros de yagé escribenos por nuestras redes sociales, Whatsapp o a tráves del formulario de contacto abajo.</p>
                    </div>

                <div class="social-buttons">
                    <a href="https://business.facebook.com/pueblo.santo.colombia/"><button class="btn btn-social btn-simple"><i class="fa fa-facebook-square"></i></button>
                    <a href="https://www.instagram.com/pueblo_santo_/"><button class="btn btn-social btn-simple"><i class="fa fa-instagram"></i></button>
                    <a href="https://wa.me/573004713789/"><button class="btn btn-social btn-simple"><i class="fa fa-whatsapp" ></i></button></a>
                </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Formulario de Contacto</h3>

                        <div class="contact-form">
                            <form action="includes/sendmail.php" method="post">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" name="name" value="" placeholder="" class="form-control form-control-plain">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Correo</label>
                                            <input type="text" name="email" value="" placeholder="" class="form-control form-control-plain">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text" name="phone" value="" placeholder="" class="form-control form-control-plain">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 p-4">
                                           <div class="form-group">
                                            <input type="text" name="subject" value="" placeholder="Asunto" class="form-control form-control-plain">
                                            </div>
                                    </div>
                                    <div class="col-md-6 p-4">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control form-control-plain" placeholder="Escribe aquí tu mensaje" rows="8"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-danger btn-fill data-loading-text="Espere por favor...">
                                                    Enviar
                                        </button>
                                    <div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-5">
                        <img src="assets/img/pueblosanto-ayahuasca-yage-contacto.jpg" alt="" class="img-fluid">
                    </div>
        </div>
</div>
</div>
</div>

         <div class="section section-contact-us">
            <div class="contact-container">
                    <div class="address-container">
                        <div class="address">
                            <h4>Cómo llegar</h4>
                            <p class="text-gray">
                                Kiosko gigante en el Km 4 después del peaje de Puerto Colombia<br>
                                Carretera via Cartagena.
                            </p>
                            <h4>Whatsapp</h4>
                            <p class="text-gray"><a href="https://wa.me/573004713789/"><button class="btn btn-social btn-simple"><i class="fa fa-whatsapp" ></i></button>+57-300-471-3789</a></p>

                            </a>
                        </div>
                    </div>
            </div>
                <div class="map map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125337.72658114486!2d-75.01047459001917!3d10.978165259744285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDU4JzA3LjQiTiA3NMKwNTknMzYuMSJX!5e0!3m2!1sen!2ses!4v1534635042705" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

  <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="info">
                        <h5 class="title">Pueblo Santo</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="index.html">Inicio</a></li>

                                <li>
                                    <a href="retiros-ayahuasca.html">Ceremonias</a>
                                </li>
                                <li>
                                    <a href="contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
 <div class="col-md-3 col-md-offset-1 col-sm-3 ml-auto">
                    <div class="info">
                        <h5 class="title"> Eventos</h5>
                         <nav>
                            <div class="eventos-footer">
                                <ul>
                                    <h6>Barranquilla</h6>
                                    <li>
                                        <a href="ceremonias-yage/barranquilla/junio-2018.html">Junio</a>
                                    </li>
                                    <li>
                                        <a href="ceremonias-yage/barranquilla/septiembre-2018.html">Septiembre</a>
                                    </li>
                                </ul>
                                <ul>
                                    <h6>Bogotá</h6>
                                    <li>
                                        <a href="ceremonias-yage/bogota/agosto-2018.html">Agosto</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Síguenos</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/pueblo.santo.colombia/" class="btn btn-social btn-facebook btn-simple">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com/pueblo_santo_/" class="btn btn-social btn-twitter btn-simple">
                    <i class="fa fa-instagram"></i>
                </a>
                    <a href="https://wa.me/573004713789/" class="btn btn-social btn-pinterest btn-simple">
                    <i class="fa fa-whatsapp"></i>
                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Hecho con ❤️por Fundación Pueblo Santo
            </div>
        </div>
    </footer>

</body>

<!--   core js files    -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<!--  js library for devices recognition -->
<script type="text/javascript" src="assets/js/modernizr.js"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="assets/js/gaia.js"></script>

</html>
