.section-header,
.section-header-blog,
.section-presentation-page{
    padding: 0;

	.container{
		  z-index: 3;
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  display: block;
		  top: 0;
     }
	.content{
	    position: relative;
	    color: white;
	    text-align: center;
	    text-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	    vertical-align: center;
	    line-height: 0.7;
	    position: relative;
        top: 60%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
	}

    .btn{
        text-shadow: none;
    }

    h1{
		font-weight: 400;
		font-size: 3.6em;
		text-shadow: -2px 2px 0px rgba(0,0,0,0.3),-2px 4px 2px rgba(0,0,0,0.1);
	}

	h5{
	    font-size: 1.3em;
	    margin: 0 auto .5em;
	    line-height: 1.5;
	    letter-spacing: 0.125;
	    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}

	p{
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin: 1em 0 0.5em;

		span{
			text-transform: lowercase;
		}
	}

	.separator{
		color: #fff;
		margin: 30px auto;

		&.line-separator:before, &.line-separator:after{
			border-color: white;
		}
	}
}

.section-header-small{
    .parallax,
    .static-image{
        min-height: 50vh;
        height: auto;
    }
}
