.wrap {
    width: 90%;
    margin: 0 auto;
}

#main-content, #sidebar-left, #sidebar-right {
    width: 100%;
    float: left;
}

/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
    .wrap {
        width: 1024px;
        margin: 0 auto;
    }

    #main-content {
        width: 50%;
        float: left;
    }

    #sidebar-left {
        width: 25%;
        float: left;
    }

    #sidebar-right {
        width: 25%;
        float: left;
    }
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
    .wrap {
        width: 1140px;
        margin: 0 auto;
    }
}


/*Move Sidebar Position*/
@media only screen and (min-width: 1024px) {
    .wrap, #main-content, #sidebar-left, #sidebar-right {
        position: relative;
    }

    #main-content, #sidebar-left, #sidebar-right {
        top: 0;
    }

    #sidebar-right {
        right: 0;
    }

    #sidebar-left {
        left: -50%; /*Width of #main-content*/
    }

    #main-content {
        left: 25%; /*Width of #left-sidebar*/
    }
}
