//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$none:                       0   !default;
$border-thin:                1px !default;
$border-thick:               2px !default;

$white-color:                #FFFFFF !default;
$white-bg:                   #FFFFFF !default;

$smoke-bg:                   #F5F5F5 !default;

$black-bg:                   rgba(30,30,30,.97) !default;

$black-color:                #333333 !default;
$black-hr:                   #444444 !default;
$black-medium:               #434547 !default;

$light-gray:                 #E3E3E3 !default;
$medium-gray:                #DDDDDD !default;
$semi-gray:                  #9A9A9A !default;
$dark-gray:                  #777777 !default;

$transparent-bg:             transparent !default;

$gold-color:                 #c5a47e !default;
$gold-states-color:          darken($gold-color, 4%) !default;

$default-color:              #888888 !default;
$default-bg:                 #888888 !default;
$default-states-color:       #777777 !default;

$primary-color:              $gold-color !default;
$primary-bg:                 $gold-color !default;
$primary-states-color:       darken($primary-color, 4%) !default;

$success-color:              #7accb8 !default;
$success-bg:                 #7accb8 !default;
$success-states-color:       darken($success-color, 4%) !default;

$info-color:                 #00abc0 !default;
$info-bg:                    #00abc0 !default;
$info-states-color:          darken($info-color, 4%) !default;

$warning-color:              #f88f58 !default;
$warning-bg:                 #f88f58 !default;
$warning-states-color:       darken($warning-color, 4%) !default;

$danger-color:               #0B6E4F !default;
$danger-bg:                  #0B6E4F !default;
$danger-states-color:        darken($danger-color, 4%) !default;

$black-color:                $black-medium !default;
$black-states-color:         darken($black-medium, 4%) !default;


$link-disabled-color:        #666666 !default;


/*      light colors         */
$light-blue:                 rgba($primary-color, .2);
$light-azure:                rgba($info-color, .2);
$light-green:                rgba($success-color, .2);
$light-orange:               rgba($warning-color, .2);
$light-red:                  rgba($danger-color, .2);


//== Components
//

$padding-base-vertical:         10px !default;
$padding-base-horizontal:      20px !default;

$padding-round-vertical:       10px !default;
$padding-round-horizontal:     20px !default;

$padding-simple-vertical:      10px !default;
$padding-simple-horizontal:    20px !default;

$padding-large-vertical:       16px !default;
$padding-large-horizontal:     32px !default;

$padding-small-vertical:        5px !default;
$padding-small-horizontal:     10px !default;

$padding-xs-vertical:           1px !default;
$padding-xs-horizontal:         5px !default;

$padding-label-vertical:        2px !default;
$padding-label-horizontal:     12px !default;

$margin-large-vertical:        30px !default;
$margin-base-vertical:         15px !default;

$margin-bottom:                0 0 10px 0 !default;
$border-radius-small:           3px !default;
$border-radius-base:            4px !default;
$border-radius-large:           6px !default;
$border-radius-extreme:        10px !default;

$border-radius-large-top:      $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom:   0 0 $border-radius-large $border-radius-large !default;

$btn-round-radius:             30px !default;

$height-base:                  40px !default;

$font-size-base:               14px !default;
$font-size-small:              12px !default;
$font-size-medium:             16px !default;
$font-size-large:              18px !default;

$font-size-h1:                 52px !default;
$font-size-h2:                 36px !default;
$font-size-h3:                 28px !default;
$font-size-h4:                 22px !default;
$font-size-h5:                 18px !default;
$font-size-h6:                 14px !default;
$font-paragraph:               16px !default;
$font-size-navbar:             16px !default;
$font-size-small:              12px !default;

$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           600 !default;

$sans-serif-font:            'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font:                 'Cambo','Times New Roman',serif;

$line-height-general:          1.5 !default;
$line-height:                 20px !default;
$line-height-lg:              54px !default;


$border-radius-top:        10px 10px 0 0 !default;
$border-radius-bottom:     0 0 10px 10px !default;

$dropdown-shadow:          1px 2px 3px rgba(0, 0, 0, 0.125);

$general-transition-time:  300ms !default;

$slow-transition-time:           370ms !default;
$dropdown-coordinates:      29px -50px !default;

$fast-transition-time:           150ms !default;
$select-coordinates:         50% -40px !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;

$navbar-padding-a:               11px 15px;
$navbar-margin-a:                15px  3px;

$padding-social-a:               10px  5px;

$navbar-margin-a-btn:            14px 3px;
$navbar-margin-a-btn-round:      14px 3px;

$navbar-padding-a-icons:         6px 15px;
$navbar-margin-a-icons:          6px  3px;

$navbar-padding-brand:           12px 15px;
$navbar-margin-brand:             10px  0px;

$navbar-margin-brand-icons:      12px auto;

$navbar-margin-btn:              15px  3px;

$height-icon:					 64px !default;
$width-icon:					 64px !default;
$padding-icon:					 12px !default;
$border-radius-icon:		     15px !default;

$size-icon: 					 64px;
$size-icon-sm: 					 32px;


$height-icon-sm:				 32px;
$width-icon-sm:					 32px;
$padding-icon-sm:			     4px;
$border-radius-icon-sm:			 7px;

$height-icon-message:			 40px;
$width-icon-message:			 40px;

$height-icon-message-sm: 		 20px;
$width-icon-message-sm:			 20px;



$white-navbar:              rgba(#FFFFFF, 1);
$primary-navbar:            rgba($primary-color, .98);
$blue-navbar:               rgba($info-color, .98);
$green-navbar:              rgba($success-color, .98);
$orange-navbar:             rgba($warning-color, .98);
$red-navbar:                rgba($danger-color, .98);

$icon-default-color-top:	#d9d9d9 !default;
$icon-default-color-bottom: #909297 !default;

$icon-blue-color-top: 		#4087ea;
$icon-blue-color-bottom: 	#533ce1;

$icon-azure-color-top:   	#45c0fd;
$icon-azure-color-bottom: 	#4091ff;

$icon-green-color-top: 	    #a1eb3a;
$icon-green-color-bottom: 	#6dc030;

$icon-orange-color-top: 	#ffb33b;
$icon-orange-color-bottom: 	#ff5221;

$icon-red-color-top: 	    #ff3b30;
$icon-red-color-bottom: 	#bb0502;

$icon-purple-color-top: 	#df55e1;
$icon-purple-color-bottom: 	#943bea;

$icon-pink-color-top: 		#ff2a63;
$icon-pink-color-bottom: 	#ff2e2e;

$icon-black-color-top:	 	#787878;
$icon-black-color-bottom: 	#343434;

$social-facebook: 			#3b5998;
$social-twitter: 			#55acee;
$social-pinterest: 			#cc2127;
$social-google: 			#dd4b39;
$social-linkedin: 			#0976b4;
$social-dribbble: 			#ea4c89;
$social-github: 			#333333;
$social-youtube: 			#e52d27;
$social-stumbleupon: 		#eb4924;
$social-reddit: 			#ff4500;
$social-tumblr: 			#35465c;
$social-behance: 			#1769ff;


$filter-blue:         darken($primary-color, 10%);
$filter-azure:        darken($info-color, 10%);
$filter-green:        darken($success-color, 10%);
$filter-orange:       darken($warning-color, 10%);
$filter-red:          darken($danger-color, 10%);


$topbar-x:             topbar-x !default;
$topbar-back:          topbar-back !default;
$bottombar-x:          bottombar-x !default;
$bottombar-back:       bottombar-back !default;



$white:				rgba(255,255,255,1);
$transparent:		rgba(255,255,255,0);
$gray:				#d0cdbc;


$ct-xsmall: 		22em; // 308px
$ct-small: 			36em; // 504px
$ct-med: 			58em; // 812px
$ct-large: 			86em; // 1204px
$ct-xlarge: 		115em; // 1610px
$ct-xxlarge: 		125em; // 1750px
$ct-xxxlarge: 		145em; // 2030px
